* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
    margin: 0;
    text-decoration: none;
    color: var(--color);
    
}
  
:root {
    --background-color: #393939;
    --color: #e9d39b;
}
  
body {
    background-color: #1f1817;
    margin: 0;
}
  
.body_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sub_total{
    margin-top: 7rem;
    text-align: center;
}

.cart_line{
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    align-items: center;
    margin: 1rem;
    margin-left: 5px;
  
}
img{
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
button{
    background-color: var(--color); 
    color: #1F1817;
}
button i{
    color: #1F1817; 
}
footer{
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 480px) {
    .sub_total {
      margin-top: 5rem; 
    }
    
    .cart_line {
      flex-direction: column; 
      text-align: center; 
    }
    
    img {
      width: 80px; /* Increase the image size for better visibility */
      height: 80px;
      margin-right: 0; /* Remove the right margin to center the image */
    }
  }
  

@media screen and (min-width: 280px) and (max-width: 653px) {
    .sub_total {
      margin-top: 6rem; /* Adjust the margin-top for the sub_total on small screens */
    }
    
    .cart_line {
      flex-direction: column; /* Stack the elements vertically on small screens */
      text-align: center; /* Center the elements */
    }
    
    img {
      width: 60px; /* Adjust the image size for better visibility on small screens */
      height: 60px;
      margin-right: 0; /* Remove the right margin to center the image */
    }
    
    button {
      font-size: 16px; /* Adjust the font size of buttons on small screens */
    }
  }
  