* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
    margin: 0;
    text-decoration: none;
    color: var(--color);
    
  }
  
  :root {
    --background-color: #393939;
    --color: #e9d39b;
  }
  
  body {
    background-color: #1f1817;
    margin: 0;
  }
  
  .body_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    width: 100%;
    top:0;
    left:0;
    position: fixed;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    margin-right: 10px;
}

.menu li a {
    font-family: Courgette;
    color: var(--color);
    font-weight: bold;
}

.menu li:last-child {
    margin-right: 5px;
}
#logo_text{
    font-family: Courgette;
    color: var(--color);
    font-weight:bold;
}
.shopping_cart{
  position: relative;
  
  padding: 5px;
  
}
.cart__count{
  font-size: 15px;
  position: absolute;
  top: -15px;
  right: -7px; 
  background-color: #1F1817; 
  border-radius: 50%;
  font-family: 'Times New Roman', Times, serif;
  padding: 3px;
}
.sub_total{
    margin-top: 7rem;
    text-align: center;
}

.cart_line{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 1rem;
  
}
img{
    width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
button{
    background-color: #1F1817; 
}
  

  footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #393939;
    color: #e9d39b;
    height:10vh;
    margin-top: 2rem;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}